<div class="container">
	<div class="row justify-content-center">
		<!-- wizard icons to go here for UX -->
	</div>
	<div class="row justify-content-center">
		<h4>Step 1: Create your Unit</h4>

		<form (submit)="submitUnitForm()">
			<input type="text" id="unit-name" class="form-control input-sm"
			[(ngModel)]="unitFormModelStep1.name"
			placeholder="Unit Name" />
			<input type="text" id="unit-code" class="form-control input-sm"
			[(ngModel)]="unitFormModelStep1.code"
			placeholder="Unit Code (e.g. UBM123)" />
			<input type="text" id="unit-semester" class="form-control input-sm"
			[(ngModel)]="unitFormModelStep1.semester"
			placeholder="Unit Semester or Teaching Period" />
			<input type="textarea" id="unit-description" class="form-control input-sm"
			[(ngModel)]="unitFormModelStep1.description"
			placeholder="Enter a Description - What is this Unit about?" />
			<!-- TODO: Add a Date Picker -->
			<input type="text" id="unit-start-date" class="form-control input-sm"
			[(ngModel)]="unitFormModelStep1.startDate"
			placeholder="Unit Start Date" />
			<!-- TODO: Add a Date Picker -->
			<input type="text" id="unit-end-date" class="form-control input-sm"
			[(ngModel)]="unitFormModelStep1.endDate"
			placeholder="Unit End Date" />

			<input type="textarea" id="ethics-statement" class="form-control input-sm"
			[(ngModel)]="unitFormModelStep1.ethicsStatement"
			placeholder="Enter an Ethics Statement (optional)" />
		</form>
	</div>
</div>