<div class="container">
	<div class="row justify-content-center">
		<!-- wizard icons to go here for UX -->
	</div>
	<div class="row justify-content-center">
		<h4>Step 1: Create your Unit</h4>

		<div class="col-10">
			<form (submit)="submitUnitForm()">
				<!-- Unit title/name -->
				<input type="text" id="unit-name" name="name" class="form-control input-sm my-2"
				[(ngModel)]="unitFormModelStep1.name"
				placeholder="Unit Name" />
				<!--<small class="text-alert" *ngIf="formErrors.name">
					{{formErrors.name}}
				</small>-->
				<!-- ************** -->

				<!-- Unit code -->
				<input type="text" id="unit-code" name="code" class="form-control input-sm my-2"
				[(ngModel)]="unitFormModelStep1.code"
				placeholder="Unit Code (e.g. UBM123)" />
				<!-- ************* -->

				<!-- Unit Semester -->
				<input type="text" id="unit-semester" name="semester" class="form-control input-sm my-2"
				[(ngModel)]="unitFormModelStep1.semester"
				placeholder="Unit Semester or Teaching Period" />
				<!-- ************** -->

				<!-- Unit Description -->
				<input type="textarea" id="unit-description" name="description" class="form-control input-sm my-2"
				[(ngModel)]="unitFormModelStep1.description"
				placeholder="Enter a Description - What is this Unit about?" />

				<!-- TODO: Add a Date Picker -->
				<input type="text" id="unit-start-date" name="start-date" class="form-control input-sm my-2"
				[(ngModel)]="unitFormModelStep1.startDate"
				placeholder="Unit Start Date" />


				<!-- TODO: Add a Date Picker -->
				<input type="text" id="unit-end-date" name="end-date" class="form-control input-sm my-2"
				[(ngModel)]="unitFormModelStep1.endDate"
				placeholder="Unit End Date" />

				<input type="textarea" id="ethics-statement" name="ethics" class="form-control input-sm my-2"
				[(ngModel)]="unitFormModelStep1.ethicsStatement"
				placeholder="Enter an Ethics Statement (optional)" />

				<button type="submit" class="btn btn-sm btn-secondary">
					Proceed to Social Media Setup
				</button>
			</form>
		</div>
	</div>
</div>