<div class="container">
	<div class="row justify-content-center">
		<!-- wizard icons to go here for UX -->
	</div>
	<div class="row justify-content-center">
		<h4>Step 2: Which Social Media are Being Used?</h4>

		<div class="col-10">
			<form (submit)="submitUnitForm()">
				<div class="form-group">
					<input type="checkbox" name="twitter" (click)="toggleHashtagField()">
					<label for="twitter">Twitter</label>

					<input type="text" name="twitter-hashtag" [(ngModel)]="unitFormModelStep2.twitter" *ngIf="twitterEnabled == true" placeholder="Twitter Hashtags (comma separated)" />
				</div>

				<div class="form-group">
					<input type="checkbox" name="trello" [(ngModel)]="unitFormModelStep2.trello" />
					<label for="trello">Trello</label>
				</div>

				<div class="form-group">
					<input type="checkbox" name="slack" [(ngModel)]="unitFormModelStep2.slack" />
					<label for="slack">Slack</label>
				</div>

				<button type="submit" class="btn btn-sm btn-secondary">
					Proceed to Data Storage 
				</button>
			</form>
		</div>
	</div>
</div>
