<div class="container">
	<div class="row justify-content-center">
		<div class="col-4">
			<h4>Login</h4>
			<form (submit)="loginSubmit()">
				<input type="text"  class="form-control input-sm" 
				[(ngModel)]="formModel.email" name="email"
				placeholder="Email" 
				/>
				<input type="password" class="form-control input-sm"
				[(ngModel)]="formModel.password" name="password" 
				placeholder="Password" />

				<button type="submit" class="btn btn-sm btn-secondary" (click)="loginSubmit()">Log In</button>
			</form>
		</div>
		<div class="col-6">
			<h4>Sign Up</h4>
			<form (submit)="registerSubmit()">
				<input type="text" name="register-email" class="form-control input-sm"
				[(ngModel)]="formModelRegister.email"
				placeholder="Email" />
				<input type="password" name="register-password" class="form-control input-sm"
				[(ngModel)]="formModelRegister.password" 
				placeholder="Password" />
				<input type="password" name="register-password-conf" class="form-control input-sm"
				[(ngModel)]="formModelRegister.passwordConf" 
				placeholder="Password Confirmation" />

				<button type="submit" class="btn btn-sm btn-secondary" (click)="registerSubmit()">Register</button>
			</form>
		</div>
	</div>
</div>