<div class="container">
	<div class="row justify-content-center mb-2">
		<h4>Create New Unit</h4>
	</div>
	<div class="row justify-content-center">
		<span class="text-center">
			<i class="material-icons md-light" style="font-size: 36px; color: rgba(0, 0, 0, 0.26);">description</i>
			<br/>
			<small style="color: rgba(0, 0, 0, 0.26);">1. Unit Details</small>
		</span>
		<span class="text-center mx-5">
			<i class="material-icons md-36" style="font-size: 36px; color: rgba(0, 0, 0, 0.26);">supervisor_account</i>
			<br/>
			<small style="color: rgba(0, 0, 0, 0.26);">2. Social Media</small>
		</span>
		<span class="text-center">
			<i class="material-icons md-36" style="font-size: 36px;">device_hub</i>
			<br/>
			<small>3. LRS</small>
		</span>
	</div>
	<div class="row justify-content-center">

		<h4 style="display: block;">Step 3: LRS Setup <small><a href="#">What is this?</a></small></h4>
		<div class="col-10">
			<form (submit)="submitAndCompleteUnitForm()">
				<div class="form-group">
					<input type="radio" id="unit-default-lrs" name="unit-default-lrs" [checked]="defaultLRS" (click)="setProperty($event.target.checked)" />
					<label id="label-unit-default-lrs" for="unit-default-lrs">
						Use CLtoolkit LRS
					</label>
				</div>
				<div class="form-group">
					<input type="radio" [checked]="!defaultLRS" (click)="setProperty(!$event.target.checked)" id="unit-custom-lrs" name="unit-custom-lrs"  />
					<label id="label-unit-custom-lrs" for="unit-custom-lrs">
						Use your own LRS
					</label>

				<!-- To be completed after MVP - See unit-lrs-setup.component for more information
				<div class="col-6" *ngIf="usingCustomLRS">
					<input type="text" id="unit-lrs-endpoint"
						[(ngModel)]="unitFormModelStep1.lrsEndpoint"
						placeholder="https://lrs.com/xapi/statements/" />

					<h5>Authentication Setup</h5>
				</div>-->
				</div>

				<div class="form-group" *ngIf="defaultLRS == false">
					<label for="custom-lrs-list">Your Learning Record Stores</label>

					<span *ngIf="customLRSDetails.length == 0">
						Add your own LRS
					</span>

					<select *ngIf="customLRSDetails.length != 0" [(ngModel)]="customLRSChoice" name="lrs-choice" >
						<option *ngFor="let opt of customLRSDetails" [value]="opt.name">
							{{opt.name}}({{opt.endpoint}})
						</option>
					</select>

					<button type="button" class="btn btn-sm btn-secondary" (click)="newCustomLrs()">
						Add Custom LRS
					</button>
				</div>
				<div class="form-group" *ngIf="showNewCustomLRSForm == true">
					<app-custom-lrs-form (added)="handleNewLRS($event)"></app-custom-lrs-form>
				</div>

				<button type="submit" class="btn btn-sm btn-secondary">Complete Unit Setup</button>
			</form>
		</div>
